#g-layout {
  height: 100%;
  height: calc(100vh - 53px);
  width: 100%;
  overflow: hidden;
}

.lm_content {
  color: #f8f8f8;
}

.gpanel-content {
  overflow: auto;
  height: inherit;
  width: inherit;
}

.fs-table-icon {
  width: 42px;
}

.md-* {
  color: #f8f8f8;
}

.vakata-context {
  z-index: 999999;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(169, 169, 169, 0.9);
}

.md-table,
table.md-table th.md-column,
table.md-table td.md-cell {
  color: #f8f8f8;
}

.selection {
  position: absolute;
  border: 1px solid #89b;
  background: #bce;
  background-color: #bec;
  border-color: #8b9;
}

.selectable-node {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  height: 48px;
}

.fs-file-cell {
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  width: 100%;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.fs-layer-header {
  display: flex;
  background-color: #222222;
  color: #dddddd;
  padding: 5px 8px 8px 8px;
}

.fsfileselected {
  background-color: #4285f4;
  color: rgba(255, 255, 255, 1);
}

.no-highlight {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.fs-btn-menu {
  margin: 0 !important;
  height: 24px !important;
  line-height: 0 !important;
  min-height: 24px;
  width: 24px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.fs-selected-drag-item {
  opacity: 0.2;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.selectdrop {
  opacity: 0.4;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}

.fs-drag-drop {
  transition: -webkit-transform 0.2s ease-out;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  -o-transition: -o-transform 0.2s ease-out;
  -ms-transition: -ms-transform 0.2s ease-out;
}

.over {
  border: 2px dashed #000;
  background-color: #555;
  cursor: move;
}

.fs-drag-item {
  background-color: #4285f4;
  position: absolute;
  top: 0;
  transform: translateX(-500px);
  height: 48px;
  width: auto;
  padding: 8px;
  color: #f8f8f8;
  font-size: 13px;
  vertical-align: middle;
  text-align: left;
  display: flex;
  align-items: center;
}

md-progress-linear.md-altTheme-theme .md-bar {
  background-color: rgb(47, 95, 177) !important;
}

md-progress-linear.md-altTheme-theme.md-warn .md-bar {
  background-color: rgb(255, 87, 34) !important;
}

.md-chips.md-removable md-chip._md-chip-editing {
  color: rgba(255, 255, 255, 1);
}

.md-chips {
  display: flex;
  flex-flow: row wrap;
  box-shadow: none;
}

.md-chip-input-container {
  flex: 1 1 auto;
}

.p-error {
  background-color: red;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 1px;
}

md-menu-content {
  background-color: rgb(255, 255, 255);
}

md-menu-item.md-indent>ng-md-icon {
  position: absolute;
  padding: 0;
  width: 24px;
  top: 4px;
  left: 24px;
  color: #333;
}

md-menu-item.md-indent>md-button,
md-menu-item.md-indent>.md-button {
  padding: 0 10px 0 64px;
}

md-menu-item.compact {
  min-height: unset;
  height: unset;
}

.node {
  cursor: pointer;
}

.overlay {
  background-color: #eee;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 10px;
  font-family: sans-serif;
}

.link {
  fill: none;
  stroke: #838b8b;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 1.5px;
}

.svg-container,
.spinal-inspector-container {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

div.inspect-tooltip {
  position: absolute;
  text-align: center;
  padding: 8px;
  font: 10px sans-serif;
  background: #09373f;
  color: #eee;
  border: solid 1px #aaa;
  border-radius: 8px;
  pointer-events: none;
}

div.inspect-tooltip>table>tr>td {
  padding: 4px 5px;
}

div.inspect-tooltip>table>tr>td {
  text-align: left;
}

div.inspect-tooltip>table>tr:nth-child(odd) {
  background: #232322;
}

.spinal-inspect-btn-grp {
  position: absolute;
  bottom: 0;
  right: 0;
}

md-toast.md-error-toast-theme div.md-toast-content {
  color: white !important;
  background-color: red !important;
}